.signup-site-preview__wrapper {
	width: 100%;
	height: 800px;
	max-width: 1200px;
}

.signup-site-preview__iframe-wrapper {
	background-color: #fff;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
}

.signup-site-preview__iframe {
	position: absolute;
	// the height of the browser header
	top: 29px;
	left: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

// Browser chrome to make mockups look
// a little more like a website/phone.
.signup-site-preview__chrome-desktop {
	height: 28px;
	border-bottom: 1px solid var( --color-neutral-100 );

	// Desktop chrome has some OS dots to
	// help signify its a browser.
	svg {
		position: absolute;
		top: 8px;
		left: 8px;
		fill: var( --color-neutral );
	}

	.signup-site-preview__chrome-label {
		position: absolute;
		top: 7px;
		right: 0;
		left: 0;

		margin: 0 auto;
		font-size: 11px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		color: var( --color-neutral-500 );
		display: block;
		width: 70%;
		background: var( --color-neutral-0 );
		border-radius: 3px;
	}
}

.signup-site-preview__chrome-mobile {
	height: 28px;

	.signup-site-preview__chrome-label {
		position: relative;
		top: 6px;
		margin: 0 auto;
		font-size: 11px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		color: var( --color-neutral-500 );
		display: block;
		width: 60px;
		background: var( --color-neutral-0 );
		border-radius: 16px;

		// At small screen sizes "hide" the label
		// text as its mostly redundent.
		@include breakpoint( '<660px' ) {
			color: var( --color-neutral-0 );
			width: 180px;
		}
	}
}
