// Mockup wrap
.site-mockup__wrap {
	margin: auto;
	padding: 16px;
	transition: max-width 200ms ease-in-out;

	// Side by side layout uses flexbox to show
	// both mockups next to each other.
	@include breakpoint( '>960px' ) {
		max-width: 1200px;
		display: flex;
		align-items: flex-start;
	}

	// Grouped layout shows a fixed-height mobile mockup
	// overlaid on top of the desktop mockup.
	@include breakpoint( '660px-960px' ) {
		position: relative;
	}

	// Only show the mobile view at small
	// breakpoints.
	@include breakpoint( '<660px' ) {
		padding-right: 1px;
		padding-left: 1px;
		padding-bottom: 0;
	}
}
